body {
	background-color: #000;
	overflow: hidden;
}

main::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100vh;
	min-width: 100vw;
	background: linear-gradient(-220deg, #000000 00%, #00000000 30%) no-repeat;
}

.character {
	display: none;
	height: 100vh;
}

.character.selected {
	display: block;
}

.character .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	position: absolute;
	top: 0;
	max-width: 24rem;
	left: 8rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;

	z-index: 1;
}

.content .character-name {
	color: snow;
	font-size: 3rem;
	font-family: 'Secular One', sans-serif;
	margin-bottom: 0.5em;
}

.content .description {
	color: snow;
	font-family: 'Rubik', sans-serif;
	line-height: 1.25em;
}

.content .logo {
	background-image: url("../images/one-piece-logo.png");
	background-size: cover;
	height: 100px;
	width: 15rem;
	margin-bottom: 2rem;
}

.buttons {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	min-width: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	background-color: #2b2d4233;
}

.buttons .button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
}

.buttons .button img {
	border-radius: 50%;
	transform: scale(1.1);
}

.buttons .button.selected {
	transform: scale(1.2);
	box-shadow: 0 0 10px #d9d9d9;
}